@charset "UTF-8";
/* line 3, ../sass/shared/_reset.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * The usual...
 */
/* line 13, ../sass/shared/_reset.scss */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0;
}

/**
 * Give a help cursor to elements that give extra info on `:hover`.
 */
/* line 26, ../sass/shared/_reset.scss */
abbr[title], dfn[title] {
  cursor: help;
}

/**
 * Remove underlines from potentially troublesome elements.
 */
/* line 33, ../sass/shared/_reset.scss */
u, ins {
  text-decoration: none;
}

/**
 * Apply faux underline via `border-bottom`.
 */
/* line 40, ../sass/shared/_reset.scss */
ins {
  border-bottom: 1px solid;
}

/**
 * So that `alt` text is visually offset if images donÔÇÖt load.
 */
/* line 47, ../sass/shared/_reset.scss */
img {
  font-style: italic;
}

/**
 * Give form elements some cursor interactions...
 */
/* line 54, ../sass/shared/_reset.scss */
label,
input,
textarea,
button,
select,
option {
  cursor: pointer;
}

/* line 62, ../sass/shared/_reset.scss */
.text-input:active,
.text-input:focus,
textarea:active,
textarea:focus {
  cursor: text;
  outline: none;
}

/*

Settings
========

*/
/*doc
---
title: Grid
name: Grid
category: Settings
---

```html_example

```

*/
/* line 16, ../sass/shared/_grid.scss */
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1194px;
}
/* line 12, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/*doc
---
title: Clearfix
name: Clearfix
category: Generic
---

Micro clearfix, as per: css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
Extend the clearfix class with Sass to avoid the `.cf` class appearing over and over in your markup.

```html_example

```

*/
/* line 18, ../sass/shared/_clearfix.scss */
.cf:after, .media:after, .nav:after {
  content: "";
  display: table;
  clear: both;
}

/*doc
---
title: Media object
name: Media object
category: Shared
---

Place any image- and text-like content side-by-side, as per:
stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
   

```html_example

<div class=media>
   <img src=http://placekitten.com/200/300 alt="" class=media__img>
   <p class=media__body>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
   sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>

```

*/
/* line 24, ../sass/shared/_media.scss */
.media {
  display: block;
}

/* line 29, ../sass/shared/_media.scss */
.media__img {
  float: left;
  margin-right: 30px;
}

/* line 35, ../sass/shared/_media.scss */
.media__img--rev {
  float: right;
  margin-left: 30px;
}

/* line 40, ../sass/shared/_media.scss */
.media__img img,
.media__img--rev img {
  display: block;
}

/* line 45, ../sass/shared/_media.scss */
.media__body {
  overflow: hidden;
}

/* line 49, ../sass/shared/_media.scss */
.media__body,
.media__body > :last-child {
  margin-bottom: 0;
}

/*doc
---
title: Buttons
name: button
category: Base CSS
---

Nav abstraction as per: csswizardry.com/2011/09/the-nav-abstraction
When used on an `ol` or `ul`, this class throws the list into horizontal mode

```html_example
<ul class=nav>
  <li><a href=#>Home</a></li>
  <li><a href=#>About</a></li>
  <li><a href=#>Portfolio</a></li>
  <li><a href=#>Contact</a></li>
</ul>
```

*/
/* line 22, ../sass/shared/_nav.scss */
.nav {
  list-style: none;
  margin-left: 0;
}
/* line 29, ../sass/shared/_nav.scss */
.nav > li,
.nav > li > a {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
/* line 36, ../sass/shared/_nav.scss */
.nav > li:before {
  content: "";
}

/**
 * `.nav--stacked` extends `.nav` and throws the list into vertical mode, e.g.:
 *
   <ul class="nav  nav--stacked">
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li><a href=#>Portfolio</a></li>
       <li><a href=#>Contact</a></li>
   </ul>
 *
 */
/* line 57, ../sass/shared/_nav.scss */
.nav--stacked > li {
  display: list-item;
}
/* line 60, ../sass/shared/_nav.scss */
.nav--stacked > li > a {
  display: block;
}

/**
 * `.nav--banner` extends `.nav` and centres the list, e.g.:
 *
   <ul class="nav  nav--banner">
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li><a href=#>Portfolio</a></li>
       <li><a href=#>Contact</a></li>
   </ul>
 *
 */
/* line 78, ../sass/shared/_nav.scss */
.nav--banner {
  text-align: center;
}

/**
 * Give nav links a big, blocky hit area. Extends `.nav`, e.g.:
 *
   <ul class="nav  nav--block">
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li><a href=#>Portfolio</a></li>
       <li><a href=#>Contact</a></li>
   </ul>
 *
 */
/* line 94, ../sass/shared/_nav.scss */
.nav--block {
  line-height: 1;
  /**
   * Remove whitespace caused by `inline-block`.
   */
  letter-spacing: -0.31em;
  word-spacing: -0.43em;
  white-space: nowrap;
}
/* line 103, ../sass/shared/_nav.scss */
.nav--block > li {
  letter-spacing: normal;
  word-spacing: normal;
}
/* line 107, ../sass/shared/_nav.scss */
.nav--block > li > a {
  padding: 15px;
}

/**
 * Force a nav to occupy 100% of the available width of its parent. Extends
 * `.nav`, e.g.:
 *
   <ul class="nav nav--fit">
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li><a href=#>Portfolio</a></li>
       <li><a href=#>Contact</a></li>
   </ul>
 *
 * Thanks to @pimpl for this idea!
 */
/* line 127, ../sass/shared/_nav.scss */
.nav--fit {
  display: table;
  width: 100%;
}
/* line 131, ../sass/shared/_nav.scss */
.nav--fit > li {
  display: table-cell;
}
/* line 134, ../sass/shared/_nav.scss */
.nav--fit > li > a {
  display: block;
}

/**
 * Make a list of keywords. Extends `.nav`, e.g.:
 *
   `<ul class="nav  nav--keywords>`
 *
 */
/* line 151, ../sass/shared/_nav.scss */
.nav--keywords > li:after {
  content: "\002C" "\00A0";
}
/* line 155, ../sass/shared/_nav.scss */
.nav--keywords > li:last-child:after {
  display: none;
}

/*doc
---
title: Paragraphs
name: Paragraphs
category: Base CSS
---

```html_example

<p>This is a paragraph of text. Some of the text may be <em>emphasised</em> and some it might even be <strong>strongly emphasised</strong>. Occasionally <q>quoted text</q> may be found within a paragraph &hellip;and of course <a href="#">a link</a> may appear at any point in the text. The average paragraph contains five or six sentences although some may contain as little or one or two while others carry on for anything up to ten sentences and beyond.</p>

```

*/
/* line 16, ../sass/base/_typography.scss */
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* line 5, ../sass/components/_primary-nav.scss */
.primary-nav {
  background-color: #2f2f2f;
  padding: 15px 30px;
  margin-bottom: 30px;
}
/* line 11, ../sass/components/_primary-nav.scss */
.primary-nav a {
  color: white;
}

/* line 5, ../sass/components/_secondary-nav.scss */
.secondary-nav {
  margin-bottom: 30px;
}
/* line 9, ../sass/components/_secondary-nav.scss */
.secondary-nav li {
  border-bottom: solid 1px #626262;
  padding: 15px;
}
/* line 14, ../sass/components/_secondary-nav.scss */
.secondary-nav a {
  text-decoration: none;
}

/* line 5, ../sass/components/_code-example.scss */
.codeExample {
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: solid 5px #2f2f2f;
}

/* line 15, ../sass/components/_code-example.scss */
.exampleOutput {
  overflow: hidden;
  *zoom: 1;
  border: solid 1px #e1e1e1;
  padding: 30px;
  margin-bottom: 30px;
}

/* line 26, ../sass/components/_code-example.scss */
.codeBlock {
  background-color: #e1e1e1;
  padding: 30px;
  margin-bottom: 30px;
}

/* line 32, ../sass/components/_code-example.scss */
pre, code {
  font-family: "Lucida Console",monospace;
}

/* line 36, ../sass/components/_code-example.scss */
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 5, ../sass/regions/_layout.scss */
.col-a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
  padding-left: 2.94118%;
  padding-right: 2.94118%;
}

/* line 9, ../sass/regions/_layout.scss */
.col-b {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 75%;
  float: left;
  padding-left: 2.94118%;
  padding-right: 2.94118%;
}

/* line 1, ../sass/regions/_header.scss */
.styleguide-header {
  padding: 30px 0;
}

/*# sourceMappingURL=styleguide.css.map */
