@charset "UTF-8";
/* line 3, ../SASS/shared/_reset.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * Remove any padding and margins on our root elements
 */
/* line 13, ../SASS/shared/_reset.scss */
html, body {
  margin: 0;
  padding: 0;
}

/**
 * The usual...
 */
/* line 21, ../SASS/shared/_reset.scss */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0;
}

/**
 * Give a help cursor to elements that give extra info on `:hover`.
 */
/* line 34, ../SASS/shared/_reset.scss */
abbr[title], dfn[title] {
  cursor: help;
}

/**
 * Remove underlines from potentially troublesome elements.
 */
/* line 41, ../SASS/shared/_reset.scss */
u, ins {
  text-decoration: none;
}

/**
 * Apply faux underline via `border-bottom`.
 */
/* line 48, ../SASS/shared/_reset.scss */
ins {
  border-bottom: 1px solid;
}

/**
 * So that `alt` text is visually offset if images donÔÇÖt load.
 */
/* line 55, ../SASS/shared/_reset.scss */
img {
  font-style: italic;
}

/**
 * Give form elements some cursor interactions...
 */
/* line 62, ../SASS/shared/_reset.scss */
label,
input,
textarea,
button,
select,
option {
  cursor: pointer;
}

/* line 70, ../SASS/shared/_reset.scss */
.text-input:active,
.text-input:focus,
textarea:active,
textarea:focus {
  cursor: text;
  outline: none;
}

/*

Settings
========

*/
/*doc
---
title: Grid
name: Grid
category: Settings
---

```html_example

```

*/
/* line 16, ../SASS/shared/_grid.scss */
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1194px;
}
/* line 12, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/*doc
---
title: Clearfix
name: Clearfix
category: Generic
---

Micro clearfix, as per: css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
Extend the clearfix class with Sass to avoid the `.cf` class appearing over and over in your markup.

```html_example

```

*/
/* line 18, ../SASS/shared/_clearfix.scss */
.primary-nav:after, .secondary-nav:after, .styleguide-header:after {
  clear: both;
  content: '';
  display: block;
}

/* line 5, ../SASS/base/_main.scss */
body {
  background: #f3f3f3;
}

/*doc
---
title: Paragraphs
name: Paragraphs
category: Base CSS
---

```html_example

<p>This is a paragraph of text. Some of the text may be <em>emphasised</em> and some it might even be <strong>strongly emphasised</strong>. Occasionally <q>quoted text</q> may be found within a paragraph &hellip;and of course <a href="#">a link</a> may appear at any point in the text. The average paragraph contains five or six sentences although some may contain as little or one or two while others carry on for anything up to ten sentences and beyond.</p>

```

*/
/* line 16, ../SASS/base/_typography.scss */
body {
  color: #272727;
  font: 16px/24px "Helvetica Neue", "HelveticaNeue", sans-serif;
}

/* line 5, ../SASS/base/_links.scss */
a {
  color: #ff6600;
}

/* line 7, ../SASS/components/_primary-nav.scss */
.primary-nav ul {
  list-style: none;
  margin: 0;
}
/* line 10, ../SASS/components/_primary-nav.scss */
.primary-nav ul li {
  float: left;
  margin-right: 15px;
}
/* line 13, ../SASS/components/_primary-nav.scss */
.primary-nav ul li a {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 12px;
  line-height: 100%;
  padding: 10px;
  text-decoration: none;
  -moz-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
/* line 22, ../SASS/components/_primary-nav.scss */
.primary-nav ul li a:hover {
  background: #cc5200;
}

/* line 5, ../SASS/components/_secondary-nav.scss */
.secondary-nav {
  background: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 9, ../SASS/components/_secondary-nav.scss */
.secondary-nav ul {
  list-style: none;
  margin: 0;
}
/* line 13, ../SASS/components/_secondary-nav.scss */
.secondary-nav ul li a {
  border-bottom: 1px solid #f3f3f3;
  color: #272727;
  display: block;
  font-size: 12px;
  padding: 15px;
  position: relative;
  text-decoration: none;
  -moz-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
/* line 22, ../SASS/components/_secondary-nav.scss */
.secondary-nav ul li a:after {
  background: url("../Images/IconArrow.png") no-repeat;
  content: '';
  height: 10px;
  margin-top: -5px;
  position: absolute;
  right: 15px;
  top: 50%;
  width: 6px;
}
/* line 32, ../SASS/components/_secondary-nav.scss */
.secondary-nav ul li a:hover {
  background-color: #dadada;
}
/* line 36, ../SASS/components/_secondary-nav.scss */
.secondary-nav ul li:first-child a {
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px;
  border-radius: 5px 5px 0 0;
}
/* line 39, ../SASS/components/_secondary-nav.scss */
.secondary-nav ul li:last-child a {
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0;
  border-radius: 0 0 5px 5px;
}

/* line 5, ../SASS/components/_code-example.scss */
.codeExample {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* line 15, ../SASS/components/_code-example.scss */
.exampleOutput {
  overflow: hidden;
  *zoom: 1;
  padding: 30px;
  margin-bottom: 30px;
}

/* line 26, ../SASS/components/_code-example.scss */
.codeBlock {
  padding: 30px;
  margin-bottom: 30px;
}

/* line 32, ../SASS/components/_code-example.scss */
pre, code {
  font-family: "Lucida Console",monospace;
}

/* line 36, ../SASS/components/_code-example.scss */
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 5, ../SASS/regions/_layout.scss */
.col-a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
}

/* line 9, ../SASS/regions/_layout.scss */
.col-b {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 75%;
  float: left;
  padding-left: 2.94118%;
  padding-right: 2.94118%;
}

/* line 5, ../SASS/regions/_header.scss */
.styleguide-header {
  background: #ff6600;
  padding: 15px 0;
  margin-bottom: 30px;
}
/* line 10, ../SASS/regions/_header.scss */
.styleguide-header h1 {
  float: left;
  margin: 0 30px 0 0;
}
/* line 14, ../SASS/regions/_header.scss */
.styleguide-header .primary-nav {
  float: left;
  margin-top: 4px;
}

/* line 5, ../SASS/regions/_footer.scss */
.styleguide-footer {
  background: white;
  font-size: 12px;
  margin-top: 30px;
  padding: 15px 0;
}

/*# sourceMappingURL=styleguide.css.map */
