/*doc
---
title: Colour Palette
name: colour-palette
category: brand
---

Colours are named using [Name that Color](http://chir.ag/projects/name-that-color/) where results make appropriate sense.

```html_example_hidden
	<ul class="colour-palette">
	    <li style="background: rgb(255, 255, 255);">
	        <p>$white</p>
	    </li>
	    <li style="background: rgb(0, 0, 0);">
	        <p>$black</p>
	    </li>
	</ul>
```
*/

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
