// ----------------------------------------
// Footer
// ----------------------------------------

.styleguide-footer {
	background:								palette(neutral);
	font-size:								$font-size-small;
	margin-top: 							$base-spacing-unit;
	padding:								$half-spacing-unit 0;
}