/*doc
---
title: Unordered List
name: base 04
category: Base
---

```html_example

<ul>
	<li>A list item</li>
	<li>Another item in a list</li>
	<li>Yet another item in this list of items</li>
</ul>

```

*/

ul {}

/*doc
---
title: Ordered List
name: base 05
category: Base
---

```html_example

<ol>
	<li>First list item</li>
	<li>Second item in a list of ordered items</li>
	<li>Third item in the list</li>
</ol>

```

*/

ol {}