// ----------------------------------------
// Code Example
// ----------------------------------------

.codeExample{
	margin-top: $base-spacing-unit;
	margin-bottom: $base-spacing-unit;
	//border-bottom: solid 5px $brand-grey-dark;
}

// ----------------------------------------
// Example Output
// ----------------------------------------

.exampleOutput {
	@include clearfix;
	//border: solid 1px $brand-grey-lightest;
	padding: $base-spacing-unit;
	margin-bottom: $base-spacing-unit;
}

// ----------------------------------------
// Code Block
// ----------------------------------------

.codeBlock{
	//background-color: $brand-grey-lightest;
	padding: $base-spacing-unit;
	margin-bottom: $base-spacing-unit;
}

pre, code {
    font-family: "Lucida Console",monospace;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}