// ----------------------------------------
// Grid settings
// ----------------------------------------

$susy: (
	columns: 								12,
	math: 									fluid,
	output: 								float
);

// ----------------------------------------
// Set grid ontainer
// ----------------------------------------
.l-container {
    @include 								container(1000px);
}