/*
---
title: Available Icons
category: Icons
---

Set Icon Font.
Ref: Generate a custom font from supplied svg files using https://icomoon.io/app

*/ 


$icon-font: 'icons';

@font-face {
	font-family: 'icons';
	src:url('/UI/Fonts/icomoon.eot?-o538ed');
	src:url('/UI/Fonts/icomoon.eot?#iefix-o538ed') format('embedded-opentype'),
		url('/UI/Fonts/icomoon.woff?-o538ed') format('woff'),
		url('/UI/Fonts/icomoon.ttf?-o538ed') format('truetype'),
		url('/UI/Fonts/icomoon.svg?-o538ed#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*
---
title: Available Icons
category: Icons
---

Map icon names to font unicode characters in a SASS Map

*/ 

$icons: (
    arrow-left:     "\ea40",
    arrow-right:    "\ea3c",
    arrow-up:       "\ea3a",
    arrow-down:     "\ea3e",

    facebook:		"\ea8c",		
    twitter:        "\ea91",
    youtube:		"\ea99",
    linkedin:       "\eac9",
    pinterest:		"\ead0"
    
);


/*
---
title: Icons mixin
category: Icons
---

For adding font icons to elements using CSS pseudo-elements
Full implementation details can be reviewed on this post for reference:
http://jaydenseric.com/blog/fun-with-sass-and-font-icons

The icon($position: before, $icon: false, $styles: true) mixin can help you:

* Attach a particular icon to an element complete with all the required styles.
* Attach just the required icon styles to a bunch of elements, without setting a particular icon.
* Set or swap the icon on an element without applying required styles.
* Set custom styles for your icon pseudo-element.

Add an icon to an element by using the following: 

@include icon(before, facebook;

To include any customisation to the icon, include as follows:

@include icon(before, email) {
    margin-right: 20px;
    color: blue;
}


*/ 

@mixin icon($position: before, $icon: false, $styles: true) {
    @if $position == both {
        $position: 'before, &:after';
    }
    // Either a :before or :after pseudo-element, or both, defaulting to :before
    &:#{$position} {
        @if $icon {
            // A particular icon has been specified
            content: "#{map-get($icons, $icon)}";
        }
        @if $styles {
            // Supportive icon styles required
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-family: '$icon-font';
        }
        // Include any extra rules supplied for the pseudo-element
        @content;
    }
}