/*doc
---
title: Colour palette
name: Colour palette
category: Base CSS
---

```html_example

<ul class="nav nav--horizontal">
	<li>
		<div class="color-block" style="background: rgb(255, 48, 1);"></div>
		<p>$brand-orange</p>
	</li>

	<li>
		<div class="color-block" style="background: rgb(72, 72, 72);"></div>
		<p>$brand-grey-mid</p>
	</li>

	<li>
		<div class="color-block" style="background: rgb(255, 48, 1);"></div>
		<p>$brand-orange</p>
	</li>

	<li><div class="color-block"></div></li>

	<li><div class="color-block"></div></li>
</ul>

```