/*doc
---
title: Form Fields
name: Form Fields
category: Forms
---

```html_example

<label>Text input</label>
<input type="text" placeholder="Text" class="text-input">

<label>Email address</label>
<input type="email" placeholder="Email" class="text-input">

<label>Password</label>
<input type="password" placeholder="Password" class="text-input">

<ul class="check-list">
    <li>
        <input id="by-email" type="checkbox"> <label for="by-email">By email</label>
    </li>
    <li>
        <input id="by-post" type="checkbox"> <label for="by-post">By post</label>
    </li>
    <li>
        <input id="by-pigeon" type="checkbox"> <label for="by-pigeon">By carrier pigeon</label>
    </li>
</ul>

<ul class="check-list">
    <li>
        <input name="frequency" id="weekly" type="radio"> <label for="weekly">Weekly</label>
    </li>
    <li>
        <input name="frequency" id="daily" type="radio"> <label for="daily">Daily</label>
    </li>
</ul>

```

*/ 

/*doc
---
title: Form Buttons
name: Form Buttons
category: Forms
---

```html_example

<p><input type="button" value="Input type button"></p>
<p><input type="reset" value="Input type reset"></p>
<p><input type="submit" value="Input type submit"></p>
<p><input type="submit" value="Input type submit disabled" disabled></p>
<p><button type="button">Button type button</button></p>
<p><button type="reset">Button type reset</button></p>
<p><button type="submit">Button type submit</button></p>
<p><button type="button" disabled>Button type button disabled</button></p>
<p><button>Button</button></p>

```

*/ 

/*doc
---
title: Form Feedback
name: Form Feedback
category: Forms
---

```html_example

<div class="feedback">
	<p>This is a feedback message for the user.</p>
</div>

<div class="feedback feedback--error">
	<p>This is an error feedback message.</p>
</div>

<div class="feedback feedback--success">
	<p>This is a success feedback message.</p>
</div>

```

*/ 

.feedback {


	&--error {}

	&--success {}

}